<!DOCTYPE html>
<html>
<head>

<title>|verification|</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel ="stylesheet" href="css/home-search.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div  class="jumbotron text-center">
  <h1>Welcome To Retail Sales Grocery Store</h1>
  <p>you can get 20% discount on every product</p>
</div>

<div class="topnav">
  <a href="./">Home</a>
  <a href="#about">About</a>
</div>
		<blockquote class="blockquote text-center">
		  <h3  class="mb-0" style ="color:red" >you are entered wrong Details</h3>
		  <footer class="blockquote-footer" >click the below link to retry</footer>
		</blockquote>
	<form action = "sellers_login" method ="get">
		<div align="center">
			<button  type="submit" class="btn btn-default btn-lg  btn-primary">Login</button>
		</div>
	</form>
</body>
</html>